<nav class="navbar navbar-expand-md main-nav navigation fixed-top sidebar-left navbar-sticky">
  <div class="container">
    <button class="navbar-toggler" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="javascript:void(0)" [routerLink]="'/home'" class="navbar-brand">
      <img src="../../assets/img/axioma.jpg" alt="Dashcore" class="logo logo-sticky d-block d-md-none">
      <img src="../../assets/img/axioma.png" alt="Dashcore" class="logo d-none d-md-block">
    </a>
    <div class="collapse navbar-collapse ml-auto" id="main-navbar">
      <div class="sidebar-brand">
        <a>
          <img src="../../assets/img/logo-kraken-color.png" alt="Dashcore Template" class="logo">
        </a>
      </div>
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(1)" [routerLink]="'/gallery'" [routerLinkActive]="'act'">Animación Uno</a>
        </li>
        <li class="nav-item d-md-none d-lg-block">
          <a class="nav-link" href="javascript:void(2)" [routerLink]="'/gallery-one'" [routerLinkActive]="'act'">Animación dos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(3)" [routerLink]="'/gallery'" [routerLinkActive]="'act'">Animación tres</a>
        </li>
<!--        <li class="nav-item dropdown mega">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#pricing" aria-expanded="false" >Planes y Licencias</a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 b-md-r">
                  <a class="dropdown-item text-wrap" href="javascript:void(0)">
                    <p class="bold my-0">For Designers</p>
                    <p class="my-0 small">Awesome design blocks</p>
                  </a>
                  <a class="dropdown-item text-wrap" href="developers.html">
                    <p class="bold my-0">For Developers</p>
                    <p class="my-0 small">The developers' place</p>
                  </a>
                </div>
                <div class="col-md-8">
                  <h3 class="color-5 mb-0 light mt-4 mt-md-0">Think about
                    <span class="bold d-block">your business</span>
                  </h3>
                  <p class="color-2">Our best bet is you, we can ensure that our template will fit most of your needs.</p>
                  <a href="pricing.html" class="btn btn-rounded btn-info mt-3">View plan &amp; prices</a>
                </div>
              </div>
            </div>
          </div>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="pricing.html">Animación cuatro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Animación cinco</a>
        </li>
      </ul>
      <nav class="nav navbar-nav ml-md-auto justify-content-center mt-4 mt-md-0 flex-row">
        <a class="btn btn-rounded btn-outline-4 mr-3 px-3" href="login.html" target="_blank">
          <span class="d-md-none d-lg-inline">Mi cuenta</span>
        </a>
      </nav>
    </div>
  </div>
</nav>
