<main>
  <!-- ./Page header -->
  <header class="header section parallax image-background center-bottom cover overlay alpha-8 color-1">
    <section class="singl-testimonial shadow gradient gradient-54 color-1">
      <div id="carouselExampleIndicators" class="carousel slide my-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="my-carousel-image img-1"></div>
            <img src="../../../assets/img/inpuestos.png" alt="" style="height: 18%; position: absolute; top: 32%; right: 37%">
            <div class="container row align-items-center pb-0n" style="position: absolute; top: 10px; left: 10%;">
              <div class="col-md-11 mx-auto py-5 pb-0n">
                <h3 class="bold">Navega expertamente<br>la nueva forma</h3>
                <p>Axioma uno</p>
                <nav class="nav mt-4">
                  <a href="#" class="nav-link btn btn-rounded btn-1 btn-lg px-5 bold">
                    Lorem Ipsun
                  </a>
                </nav>
              </div>
            </div>
            <div class="carousel-caption d-md-block my-carousel-caption">
            </div>
          </div>
          <div class="carousel-item">
            <div class="my-carousel-image img-2"></div>
            <div class="container row align-items-center pb-0n" style="position: absolute; top: 10px; left: 10%;">
              <div class="col-md-11 mx-auto py-5 pb-0n">
                <h3 class="bold">Navega expertamente<br>la nueva forma 2</h3>
                <p>Axioma dos</p>
                <nav class="nav mt-4">
                  <a href="#" class="nav-link btn btn-rounded btn-1 btn-lg px-5 bold">
                    Lorem Ipsun 2
                  </a>
                </nav>
              </div>
            </div>
            <div class="carousel-caption d-md-block my-carousel-caption">
            </div>
          </div>
          <div class="carousel-item">
            <div class="my-carousel-image img-3"></div>
            <div class="container row align-items-center pb-0n" style="position: absolute; top: 10px; left: 10%;">
              <div class="col-md-11 mx-auto py-5 pb-0n">
                <h3 class="bold">Navega expertamente<br>la nueva forma 3</h3>
                <p>Axioma tres</p>
                <nav class="nav mt-4">
                  <a href="#" class="nav-link btn btn-rounded btn-1 btn-lg px-5 bold">
                    Lorem Ipsun 3
                  </a>
                </nav>
              </div>
            </div>
            <div class="carousel-caption d-md-block my-carousel-caption">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span aria-hidden="true" >
            <i class="fas fa-angle-left style-angle-icon"></i>
          </span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span aria-hidden="true">
            <i class="fas fa-angle-right style-angle-icon"></i>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </section>
  </header>

</main>


